* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --primary: #38bdf8;
    --dark: #0f1a25;
    --header-dark: #111827;
    --card-bg: #2e3951;
    --text-light: #e5e7eb;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--dark);
    color: var(--text-light);
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: var(--header-dark);
}

header h2 {
    font-size: 30px;
}

header nav a {
    margin-left: 25px;
    color: var(--text-light);
    font-weight: 500;
    text-decoration: none;
}


.hero-image {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img {
    width: 550px;
    max-width: 100%;
}


.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    text-align: center;
    animation: fadeUp 1s ease-out;
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.hero p {
    font-size: 20px;
}

.hero button {
    margin-top: 25px;
    padding: 18px 30px;
    border-radius: 20px;
    background-color: var(--primary);
    color: var(--dark);
    font-size: 16px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.hero button:hover {
    background-color: #89d3f3;
}


.features {
    padding: 50px;
    text-align: center;
}

.features h2 {
    font-size: 30px;
    margin-bottom: 50px;
}

.feature-cards {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.feature-cards .card {
    background-color: var(--card-bg);
    padding: 30px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.feature-cards .card:hover {
    transform: translateY(-6px);
}


.pricing {
    padding: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.pricing h2 {
    font-size: 30px;
    margin-bottom: 40px;
}

.pricing-cards {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.pricing-cards .card {
    background-color: var(--primary);
    padding: 30px;
    border-radius: 10px;
    width: 220px;
    color: var(--dark);
    transition: transform 0.3s ease;
    box-shadow: 0 10px 25px rgba(143, 180, 235, 0.9);
}

.pricing-cards .card:hover {
    transform: scale(1.07);
}

.pricing-cards .card h3 {
    margin-bottom: 10px;
}

.pricing-cards .card p {
    font-size: 20px;
    font-weight: 700;
}


@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 768px) {

    header {
        flex-direction: column;
        gap: 10px;
    }

    .feature-cards,
    .pricing-cards {
        flex-direction: column;
        gap: 30px;
    }

    .hero-image img {
        width: 300px;
    }

    .hero h1 {
        font-size: 36px;
        letter-spacing: 1px;
    }
}
